baseurl,https://cdn.redhat.com
serverurl,subscription.rhn.redhat.com:443/subscription
username,{{ RHSM_USERNAME }}
password,{{ RHSM_PASSWORD }}
extra,--activationkey={{ RHSM_ACTIVATION_KEY }} --org={{ RHSM_ORG_ID }}